{% assign bhayat = 'Ahmed Bhayat' %}
{% assign hoder = '<a href="http://www.cs.man.ac.uk/~hoderk/">Krystof Hoder</a>' %}
{% assign holzer = '<a href="http://www.cs.toronto.edu/~aholzer/">Andreas Holzer</a>' %}
{% assign khasidashvili = '<a href="http://il.linkedin.com/pub/zurab-khasidashvili/4/a80/a74">Zurab Khasidashvili</a>' %}
{% assign korovin = '<a href="http://www.cs.man.ac.uk/~korovink/">Konstantin Korovin</a>' %}
{% assign kotelnikov = '<a href="http://www.cse.chalmers.se/~evgenyk/">Evgenii Kotelnikov</a>' %}
{% assign kovacs = '<a href="http://forsyte.at/people/kovacs">Laura Kovács</a>' %}
{% assign rawson = '<a href="http://rawsons.uk/michael/">Michael Rawson</a>' %}
{% assign reger = '<a href="http://www.cs.man.ac.uk/~regerg/">Giles Reger</a>' %}
{% assign suda = '<a href="http://forsyte.at/people/suda/">Martin Suda</a>' %}
{% assign voronkov = '<a href="http://www.voronkov.com">Andrei Voronkov</a>' %}
