{% assign mriener = '<a href="https://derivation.org/public">Martin Riener</a>' %}
{% assign bhayat = 'Ahmed Bhayat' %}
{% assign gleiss = '<a href="http://forsyte.at/people/gleiss/">Bernhard Gleiss</a>' %}
{% assign hajdu = 'Márton Hajdu' %}
{% assign hoder = '<a href="http://www.cs.man.ac.uk/~hoderk/">Kryštof Hoder</a>' %}
{% assign holzer = '<a href="http://www.cs.toronto.edu/~aholzer/">Andreas Holzer</a>' %}
{% assign hozzova = '<a href="http://forsyte.at/people/hozzova/">Petra Hozzová</a>' %}
{% assign khasidashvili = '<a href="http://il.linkedin.com/pub/zurab-khasidashvili/4/a80/a74">Zurab Khasidashvili</a>' %}
{% assign kiesel = '<a href="http://logic-cs.at/phd/students/benjamin-kiesl/">Benjamin Kiesl</a>' %}
{% assign korovin = '<a href="http://www.cs.man.ac.uk/~korovink/">Konstantin Korovin</a>' %}
{% assign kotelnikov = '<a href="http://www.cse.chalmers.se/~evgenyk/">Evgenii Kotelnikov</a>' %}
{% assign kovacs = '<a href="http://forsyte.at/people/kovacs">Laura Kovács</a>' %}
{% assign rath = '<a href="http://forsyte.at/people/rath/">Jakob Rath</a>' %}
{% assign rawson = '<a href="http://rawsons.uk/michael/">Michael Rawson</a>' %}
{% assign reger = '<a href="http://www.cs.man.ac.uk/~regerg/">Giles Reger</a>' %}
{% assign robillard = '<a href="http://www.cse.chalmers.se/~simrob/">Simon Robillard</a>' %}
{% assign schoisswohl = 'Johannes Schoisswohl' %}
{% assign suda = '<a href="http://people.ciirc.cvut.cz/~sudamar2/">Martin Suda</a>' %}
{% assign voronkov = '<a href="http://www.voronkov.com">Andrei Voronkov</a>' %}
