<nav>
 <img src="/img/vampire_logo.svg" alt="Vampire Logo" style="width: 40%"/>
 <h1 style="text-align:center">Vampire</h1>

 <input type="checkbox" id="nav-toggle"/>
 <label for="nav-toggle" id="nav-hamburger">
  <i class="material-icons">menu</i>
 </label>
 <a href="/">About</a>
 <a href="https://github.com/vprover/vampire">GitHub</a>
 <a href="https://github.com/vprover/vampire/releases">Download</a>
 <a href="https://github.com/vprover/vampire/wiki/Team">Team</a>
 <a href="https://github.com/vprover/vampire/wiki/History">History</a>
 <a href="https://github.com/vprover/vampire/wiki/Trophy-Cabinet">Trophies</a>
 <a href="/workshop.html">Workshop</a>
 <a href="/vampireGuide">Guide (New!)</a>
</nav>
