@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro);

$background-color: #eee;
$light-color: #fff;
$dark-color: #222;
$highlight-color: #58d;

$font: 'Roboto', sans-serif;
$code-font: 'Source Code Pro', monospace;
$title-margin: 50px;
$para-margin: 20pt;
$page-margin: 20px;
$font-size: 12pt;
$line-height: 20pt;
$list-indent: 30px;
$table-padding: 15px;
$h1-size: 36pt;
$h2-size: 24pt;
$h3-size: 18pt;
