ol.pubs li.year h2
{
	text-align: left;
}

ol.pubs
{
	counter-reset: ref;
}

@counter-style bib
{
	system: extends decimal-leading-zero;
}

ol.pubs > li.year
{
	list-style: none;
	margin: 0;
}

ol.pubs > li.paper
{
	list-style: none;
	counter-increment: ref;
	margin: 0;
}

ol.pubs > li.paper:before
{
	content: "[" counter(ref, bib) "]";
}

ol.pubs ul
{
	display: inline;
}

ol.pubs ul li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

ol.pubs ul li a:after
{
	content: ",";
}

ol.pubs ul li a:last-child:after
{
	content: ".";
}

ol.pubs cite:after
{
	content: ".";
}
