@import "config";

li.bio
{
	list-style: none;
	margin-left: 0;
}

li.bio img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: $mugshot-height;
	border-radius: 50%;
}

// desktop-specific things below
@media screen and (min-width: 1025px)
{
	ul.bio-list
	{
		display: flex;
		flex-wrap: wrap;
	}

	li.bio
	{
		display: block;
		padding: $bio-padding;
		width: 50%;
	}

	li.bio h2
	{
		text-align: center;
	}
}
